* {
	margin:0;
	padding:0;
	scrollbar-width: none;
	line-height:1.6;
}

body {
	width:100%;
	font-family:Liberation Sans, Nimbus sans, Open sans, Helvetica, Veranda, Arial, Roboto, Courier, Couriaer New;
	background-color:#f0f0f0;
}

h1 {
	margin: 0.5em 0 0.5em 0;
	font-weight:600;
	line-height:1.2;
	font-size:1.5em;
}

h2 {font-size:1.2em;}

h2, h3, h4, h5, h6 {
	margin: 0.5em 0 0.25em 0;
}

p {
	margin-top:1em;
	text-align:justify;
	word-wrap: break-word;
	hyphens:auto;
}
li {
	line-height:28px;
	text-align:left;
}
ul {margin-top:1em}

a {
	text-decoration:none;
	color:#0095dd;
}

header{
	margin-top:1em;
}

img {
	max-width:100%;
	height:auto;
}

pre {
	padding:1em;
	white-space: pre-wrap;
	font-family:Courier,Courier New;
}

code {
	padding:0.2em 0.2em 0;
	margin:0 0.1em;
	background-color:rgba(155,155,155,0.25);
	line-height:2em;
	white-space: pre-wrap;
	font-family:Courier,Courier New;
}

#main {
	width:35em;
	max-width:90vw;
	margin:0 auto;
	padding:0.5em 0.25em;
	font-size:20px;
	color:#333;
}

#footer {
	width:100%;
	text-align:center;
	padding:2em 0 0 0;
	line-height:25px;
	font-size:0.8em;
}
#mobile {
	margin-bottom:0.25em;
	display:flex;
	justify-content:space-between;
}

blockquote {
	padding: 0 2em;
	font-style: italic;
	font-weight: 600;
}
blockquote p {
	padding: 0;
}

p > img {
	align-items: center;
	display: flex;
	margin:auto;
}

#mobile div span {
	padding:0.1em 0.25em;
}

@media (orientation: portrait) {
	#main{
		width:calc(100vw - 2em);
		max-width:calc(100vw - 2em);
		padding:0.5em 1em;
		margin:0;
	}
}
